
.titulo__subContenido {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width:1024px) {

    .titulo__subContenido {
        width: 100%;
        justify-content: center;
    }
}