
:root {
    --font: 'Raleway', sans-serif;;
    --background-header: #8725f0;
    --color-titulo: #626161;
    --color-texto: #595959;
    --color-texto2: #414040;
    --color-skills: #f5f5f5;
    --separacion-texto: 1.3rem;
    --separacion-texto2: .009rem;
    --color-icons: #3a3aed;
    --color-formacion: #4a4545;
    --backgroud-sections: #f7fcff;
    --backgroud-cajas: #ffffff;
    --color-xp-texto: #272525;
    --color-titulo-secciones: #222121;
    --color-negro: #000000;
    --color-blanco: #ffffff;
    --color-border-btn: #9037e8;
    --color-azul-btn: #0133f6;
    --backgroud-color-btnD: #3f3fb1;
    --backgroud-color-btnR: #f1f1f9;
    --warning-color: #f72020;
}

