
.formacion__contenedor {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
}

@media (min-width:768px) and (max-width:1023px) {

    .formacion__contenedor {
        flex-direction: row;
        justify-content: space-around;
    }

}

@media (min-width:1024px) {
    
    .formacion__contenedor {
        justify-content: space-evenly;
        flex-direction: row;
        
    }
} 